/* Size for brand */
nav .navbar-brand
{
    font-size: large;
}


.orangeButton {
    background-color: #F67282;
    border-color: #dbdbdb;
    border-width: 1px;
    color: black;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
 
  }
  .medium-btn {
    background-color: #F67282;
    border-color: #dbdbdb;
    border-width: 5px;
    color: black;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.5em - 1px);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: calc(.5em - 1px);
    text-align: center;
    white-space: nowrap;
    width: 70px;
    height: 30px;
  }

  h1 {
    font-family: 'Monaco', monospace;
    font-size: 50px;
    }
   h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    }


  body {
      background-color: #FAAF95;
  }

  .underline {
    text-decoration: underline;
  }
  
  
  .pinkBox {
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #f79d92;
    margin-left: 100px;
    margin-right: 100px;
  }

  .heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
  }

  .white{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: #ffffff;
  }

  .bg-blue {
      background-color: #4f5eff;
  }

  .white-text {
    color: white;
  }

  