{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <h3>Your Transaction History</h3>

    <table class="table tablestriped">
        <thead>
            <tr>
                <th class="text-start">Stock Symbol</th>
                <th class="text-start">Buy / Sell</th>
                <th class="text-end">Price at Transaction</th>
                <th class="text-end">Shares Transacted</th>
                <th class="text-end">Transaction Time</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td class="text-start">{{ transaction["symbol"] }}</td>
                <td class="text-start">{{ transaction["type"] }}</td>
                <td class="text-end">{{ transaction["price"]|usd }}</td>
                <td class="text-end">{{ transaction["shares"] }}</td>
                <td class="text-end">{{ transaction["transaction_time"] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}