{% extends "layout.html" %}

{% block title %}
    ROOMIES
{% endblock %}

{% block main %}
<h2 class="heading"> Please fill out this form: </h2>
<form action="/quiz" method= "POST">

    <div class = "pinkBox">
        <h3 class = "underline"> Name </h3>
        <input name= "name" placeholder="Name" type= "text">
    </div>

    <div class = "pinkBox">
        <h3 class = "underline">Gender</h3>
        <input type="radio" name="gender" value="Male"> Male<br>
        <input type="radio" name="gender" value="Female"> Female<br>
    </div>

    <div class = "pinkBox">
        <h3 class = "underline">Year</h3>
        <input type= "radio" name= "year" value= "First Year"> First Year<br>
        <input type= "radio" name= "year" value="Second Year"> Second Year<br>
        <input type= "radio" name= "year" value= "Third Year"> Third Year<br>
        <input type= "radio" name= "year" value= "Fourth Year"> Fourth Year<br>
    </div>
    
    <div class="pinkBox">
        <h3 class="underline">Personality Type</h3>
        <input type="radio" name="personality" value="Introvert"> Introvert<br>
        <input type="radio" name="personality" value="Extrovert"> Extrovert<br>
        <input type="radio" name="personality" value="Ambivert"> Ambivert<br>
    </div>

    <div class="pinkBox">
        <h3 class="underline">Sleep Schedule</h3>
        <input type="radio" name="sleep" value="Night Owl"> Night Owl<br>
        <input type="radio" name="sleep" value="Early Bird"> Early Bird<br>
    </div>
    
<br style = "line-height: 500;">
<input type= "submit" value= "Submit">
</form>

{% endblock %} 