{% extends "layout.html" %}

{% block title %}
    ROOMIES
{% endblock %}

{% block main %}
<h2> Please fill out this form: </h2>
<form action="/" method= "POST">
<h3> Name: </h3>
<input name= "name" placeholder="Name" type= "text">

<h3>Gender:</h3>
    <button class = "m">Male</button>
    <button class = "f">Female</button>
       
<h3>Year:</h3>
    <button class = "1">First Year</button>
    <button class = "2">Second Year</button>
    <button class = "3">Third Year</button>
    <button class = "4">Fourth Year</button>

<h3>Personality type:</h3>
    <button class = "intro">Introvert</button>
    <button class = "extro">Extrovert</button>
    <button class = "ambi">Ambivert</button>

<h3>Sleep schedule:</h3>
    <button class = "night">Night Owl</button>
    <button class = "morn">Early Bird</button>

<input type= "submit" value= "Submit">
</form>

{% endblock %} 