

<html lang= "en">
    <head>
    <title>Roommate Quiz</title>
</head>
<body> 
    <div class= " "> 
    <h1>Questions</h1>
</div>
<div class="container">
    <div class="section">
    
        
        <h2> Please fill out this form: </h2>
        <form action="/" method= "POST"> 
        <h3> Name: </h3>
        <input name= "name" placeholder="Name" type= "text">

        <h4>Gender:</h4>
            <button class = "m">male</button>
            <button class = "f">female</button>
                
        <h5>Year:</h5>
            <button class = "1">First Year</button>
            <button class = "2">Second Year</button>
            <button class = "3">Third Year</button>
            <button class = "4">Fourth Year</button>

        <h5>Personality type:</h5>
            <button class = "intro">Introvert</button>
            <button class = "extro">Extrovert</button>
            <button class = "ambi">Ambivert</button>

        <h5>Sleep schedule:</h5>
            <button class = "night">Night Owl</button>
            <button class = "morn">Early Bird</button>
        
        <input type= "submit" value= "Submit">
        </form>
    </div>

    <div class="section"></div>
        <table>
            <thead>
                <tr>
                    <th>